<form action="/users" method="post" accept-charset="UTF-8">
  <label for="name">Name:</label>
  <input type="text" name="user[name]" id="name">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <label for="email">Email</label>
  <input type="email" name="user[email]" id="email">
  <input type="submit" value="Submit">
</form>